In [99]:
print("hello world")
# this is a comment

hello world

In [ ]:
#Exercise 1
my_name=("Evelyn Olunwa")
print(my_name)

Evelyn Olunwa

In [5]:
# Exercise 2
age=39
print(age)

39

In [6]:
#Exercise 3
julia_age = 32
age_diff = julia_age - age
print((julia_age) - age)

-7

In [7]:
#Exercise 4
if age==21:True
elif age!=21:
            print("you are older than 21")

you are older than 21

In [8]:
# Exercise 5
age=39
if age < 32:
        print( "Julia is younger than you")
elif age==32:
        print("You have the same age as Julia")
else:
    print("You are older than Julia")

You are older than Julia

In [10]:
#Exercise 6
class_names=["chris", "Evelyn","Jessica","ottavia", "Sylvia","Tanusree","Virginia"]
first_name=("chris")
print(first_name)

last_name=("Virginia")
print (last_name)


for name in class_names:
        print(name)

chris
Virginia
chris
Evelyn
Jessica
ottavia
Sylvia
Tanusree
Virginia

In [87]:
#Exercise 7
class_age = [25,36,31,24,41,38,29]

for age in class_age:
        print( age )

25
36
31
24
41
38
29

In [1]:
class_age= [25,36,31,24,41,38,29]
for x in class_age:
      if x % 2==0:
        print ( x )

36
24
38

In [21]:
#Exercise 8&9
counting= [99,3,5,22,98,6,82,26,16,27,35,65,28,12,82,15]
for a in counting:
    if a< 5:
        print(a)
    elif a>98:
        print (a)

99
3

In [65]:
#Exercise 10
from datetime import date
birth_year= [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
birth_year_2= [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
now= 2022

def calculate_age(birth_year, now):
    
    for year in birth_year:
        print(year)
        age = (now - year)
        print(age)
        
    #calculate_age = (now - birth_year)
    #print (calculate_age)

calculate_age(birth_year, now)
#calculate_age(birth_year_2)

1999
23
1995
27
2005
17
2010
12
2007
15
2006
16
1994
28
1996
26
1979
43
2008
14

In [21]:
#Exercise 11
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
for x in customer_list:
        print(f"{x['name'],2022-x['age'] }")

('Bob', 23)
('Jack', 27)
('Lisa', 17)
('Maria', 12)
('Ben', 15)
('Emma', 16)
('Oscar', 28)
('Amy', 26)
('Paul', 43)
('Etta', 14)

In [86]:
#Exercise 12
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
for x in ages:
    if 10<x<40 :
        print (x)

20
24
14
12
13
25
23
11

In [2]:
#Exercise 13
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
def common_elements(berlin,munich):
    result=[]
    for element in berlin:
        if element in munich:
         result.append(element)
    print (result)

common_elements(berlin,munich)

[15, 13, 16, 18, 19, 10]

In [3]:
#Exercise 14
rain= [15,13,16,18,19,15,10]
result=[]
for x in rain:
    if x not in result:
        result.append(x)
print( str(result))

[15, 13, 16, 18, 19, 10]

In [73]:
#welcome funtion
#Exercise 15
def welcome(fname):
    
    print('Welcome',fname +  ' have a nice day')

    
welcome('Evelyn')

Welcome Evelyn have a nice day

In [4]:
#Exercise 16
from collections import Counter
def get_lenght(my_string):
    my_string= input('type a greeting')
    counter= Counter(my_string)
    print(counter) 


len( 'my_string')

9

In [54]:
#Exercise 17
check_even = int(input ('enter a number'))
mod= check_even % 2
if mod==0:
    print ('YES')

else:
        print('NO')

YES

In [70]:
#Exercise 19
age= [43,53,98,73,22,35,12,9,67,34,18,70,90]
value= int(input('enter a num'))
while value in age:
    print('true')

else:
    print ('false')

false